<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>Entrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="create"></ion-icon>
      <ion-label>Listado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="power"></ion-icon>
      <ion-label>Exit</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>



</ion-tabs>
