.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}
.vertical-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.myClass {
    background-color: rgb(28, 218, 11);
    width: 100%;
    padding-bottom: 17px;
}
.otherClass {
    background-color: rgb(218, 215, 38);
    width: 100%;
    padding-bottom: 17px;
}

.otherClassGratis {
    background-color: rgb(245, 245, 239);
    width: 100%;
    padding-bottom: 17px;
}

.expand-wrapper {
    height: 0;
    transition: 0.2s linear;
}  

.collapsed {
    height: 0 !important;
}
