<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Anuncios por Categorías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <img src="/assets/classic-theme_logo.png" alt="" />
  </div> 
  <div class="vertical-button">
    <ion-button shape="round" color="tertiary" (click)="openBrowser()">Publicar anuncio</ion-button>
  </div>      

  <ion-searchbar
      showcancelbutton=""
      (ionChange)="buscarProducto($event)"
      placeholder="Buscar anuncio ...">
  </ion-searchbar>

  <ion-slides *ngIf="mostrar">
    <ion-slide>
      <div class="myClass">
        <ion-text color="primary">
          <h1>Anuncios Premium</h1>          
        </ion-text>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="otherClass">
        <ion-text color="danger">
          <h1>Anuncios Gold</h1>
        </ion-text>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="otherClassGratis">
        <ion-text color="sexundary">
          <h1>Anuncios Gratis</h1>
        </ion-text>
      </div>
    </ion-slide>
  </ion-slides>  

    <ion-card *ngFor="let anuncio of anunciosHot">
      <ion-card-header>
        <div *ngIf="anuncio.tipo == 1">
          <ion-badge color="success"> Premium </ion-badge>
        </div>        
        <ion-card-title [innerHTML]="anuncio.nombre_producto" [routerLink]="['/', 'detalle', anuncio.id]" color="primary"></ion-card-title>        
      </ion-card-header>
  
      <div class="vertical-center">
        <ion-img class="ion-align-self-end" [src]="anuncio.foto" [routerLink]="['/', 'detalle', anuncio.id]"></ion-img>
      </div>      
      
    </ion-card>

    <div class="vertical-center" *ngIf="mostrar">
      <ion-button shape="round" color="tertiary" (click)="atrasPag()"> Atras </ion-button>
      <ion-button shape="round" color="tertiary" (click)="sigPag()"> Siguiente </ion-button>
    </div>

    <br>
    <ion-list class="product-types" *ngIf="mostrar">
      <ion-list-header>
        <ion-label><ion-badge color="warning">Anuncios por categorías</ion-badge></ion-label>      
      </ion-list-header>
      <ion-item (click)="ExpandItem(post.Id)" *ngFor="let post of posts" margin-bottom>
        <h2 [routerLink]="['/', 'post', post.id]">{{ post.descripcion }}</h2>
        <ion-icon slot="end" [routerLink]="['/', 'post', post.id]" name="arrow-forward-outline"></ion-icon>  
      </ion-item>  
    </ion-list>

</ion-content>