.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.vertical-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}