<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="vertical-center">
      <img src="/assets/classic-theme_logo.png" alt="" />
    </div>
    <ion-row center >
      <ion-col style="text-align: center">
        <a href="https://mercadoactivo.cl/signup"> Regístrate</a>
      </ion-col><br><br><br>
    </ion-row>
    
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Ingrese usuario: </ion-label>
      <ion-input [(ngModel)]="todo.password" name="password" type="{{ isActive ? 'password' : 'text' }}"></ion-input>
      <!-- <ion-icon
        [name]="isActive?'eye':'eye-off'"
        item-right
        (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon> -->
    </ion-item>
    
    <ion-item>
      <ion-label>Ingrese correo: </ion-label>
      <ion-input type="text" [(ngModel)]="todo.email" name="email"></ion-input>
    </ion-item>
    
    <br><br><br>
    <ion-button type="submit" color="primary" expand="full">Entrar</ion-button>
  </form>  

</ion-content>
