<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <img src="/assets/classic-theme_logo.png" alt="" />
  </div>
    <ion-card class="welcome-card">
      <ion-card-header>
        <!-- <ion-card-subtitle>Pago on-line</ion-card-subtitle> -->
        <ion-card-title>Tienda on-line</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><b>Correo</b>: {{correo}} </p>
        <ion-button *ngIf="datoscarrito" (click)="borrarOrden(correo, orden)" color="danger">Borrar orden</ion-button>  
      </ion-card-content>
    </ion-card>    

    <div *ngIf="total==0" class="vertical-center"><br><br><br>
      <ion-label>
        Sin compras a procesar ...
      </ion-label>
    </div>

    <ion-grid *ngFor="let carr of data">        
        <ion-card-header>
          <ion-card-title [innerHTML]="carr.nombre_prod" color="primary"></ion-card-title>
          <ion-card-subtitle>Precio: {{ carr.precio }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="carr.status == 0">
            <ion-button expand="full" (click)="cambiar(carr.id_product, carr.status)" text-right> Notificar Pago </ion-button>
          </div>
          <div *ngIf="carr.status == 1">
            <ion-button color="secondary" expand="full" (click)="cambiar(carr.id_product, carr.status)" text-right> Enviado / Entregado </ion-button>
          </div>
          <div *ngIf="carr.status == 2">
            <ion-button color="tertiary" expand="full" (click)="cambiar(carr.id_product, carr.status)" text-right> Confirmar Recibido </ion-button>
          </div>
          <div *ngIf="carr.status == 3">
            <ion-button color="danger" expand="full" (click)="calificar(carr.id_product)" text-right>
              <ion-icon name="star"></ion-icon> Calificar </ion-button>
          </div>
        </ion-card-content>        
    </ion-grid> 
    <br>
    
    <br>

    <ion-button color="warning" expand="full" (click)="update()"> <ion-icon name="refresh" class="refresh-icon"> </ion-icon> Actualizar </ion-button>  

</ion-content>
