<ion-header>
  <ion-toolbar>
    <ion-title>Desea salir de la aplicación ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <img src="/assets/classic-theme_logo.png" alt="" />
  </div>
</ion-content>
