<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="post"> Regresar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <img src="/assets/classic-theme_logo.png" alt="" />
  </div>

  <ion-card *ngFor="let post of data">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.nombre_producto" color="primary"></ion-card-title>
      <ion-card-subtitle>Cantidad: {{ post.cantidad }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="mostrar">
        <img src="/assets/loading.gif" alt="" />
      </div>

      <ion-slides>
        <ion-slide *ngFor="let foto of arrayFotos">
          <div class="vertical-center">
            <ion-img class="ion-align-self-end" [src]="foto"></ion-img>
          </div>
        </ion-slide>
      </ion-slides>

      <br>
       <ion-badge color="primary"> {{post.precio }} CLP </ion-badge><ion-icon name="card-outline"></ion-icon>
      <div [innerHTML]="post.descripcion"></div>

    </ion-card-content>
  </ion-card>

  <br><br>
  <ion-button color="primary" expand="full" (click)="comprar()"> 
    <ion-icon name="cart" class="cart-icon"> </ion-icon> Comprar
  </ion-button>
  
</ion-content>
