<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"> Regresar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center">
    <img src="/assets/classic-theme_logo.png" alt="" />
  </div>

  <ion-searchbar
      showcancelbutton=""
      (ionChange)="buscarProducto($event)"
      placeholder="Buscar anuncio ...">
  </ion-searchbar>

  <ion-card *ngFor="let post of posts | filtrodetalle: textoBuscar">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.nombre_producto" [routerLink]="['/', 'detalle', post.id]" color="primary"></ion-card-title>
      <ion-card-subtitle>Cantidad: {{ post.cantidad }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="mostrar">
        <img src="/assets/loading.gif" alt="" />
      </div>
      <div class="vertical-center">
        <ion-img class="ion-align-self-end" [routerLink]="['/', 'detalle', post.id]" [src]="post.media_url"></ion-img>
      </div><br>
       <ion-badge color="primary"> {{post.precio }} CLP </ion-badge><ion-icon name="card-outline"></ion-icon>
      <div [innerHTML]="post.descripcion"></div>
      <ion-button expand="full" fill="clear" [routerLink]="['/', 'detalle', post.id]" text-right>Detalle...</ion-button>
    </ion-card-content>
  </ion-card>

  <br><br>
  <ion-button color="warning" expand="full" (click)="regresar()"> 
    <ion-icon name="arrow-back"></ion-icon> Regresar 
  </ion-button>
  
</ion-content>
