<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis anuncios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.descripcion" [routerLink]="['/', 'post', post.id]" color="primary"></ion-card-title>
      <ion-card-subtitle>Estado: {{ post.status }}</ion-card-subtitle>
      <div *ngIf="post.status!='active'">
        <ion-button color="success" target="_blank" href="{{ post.urlpago }}"> Pagar </ion-button>
      </div>
    </ion-card-header>
    <div class="vertical-center">
      <ion-img class="ion-align-self-end" [src]="'https://mercadoactivo.cl/storage/products/'+post.foto"></ion-img>
    </div>    
  </ion-card>
</ion-content>
