<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title>Usuario </ion-card-title>
      <ion-card-subtitle>{{ post.username }}</ion-card-subtitle>
    </ion-card-header>
    
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text">{{ post.email }}
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input type="text">{{ post.phone }}
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input type="text">{{ post.address }}
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Sexo</ion-label>
          <ion-input type="text">{{ post.sex }}
          </ion-input>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
